header {
	width: 100%;
	height: 700px;
	background-image: url(../../src/img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	font-family: $font_MonsBold;
}

.top {
	width: $wrapper_desktop;
	margin: 0 auto;
	padding-top: 51px;
	color: #fff;
	
	

	.top__login {
		float: right;
		font-size: $font_size_small;
	
		span {
			diplay: block;
			width: 88px;
			height: 31px;
			margin-left: 20px;
			padding: 8px 16px;
			border: 2px solid $color_white;
			-moz-border-radius: 20px; 
			-webkit-border-radius: 20px; 
			-khtml-border-radius: 20px;
			border-radius: 20px;
			behavior: url(border-radius.htc);
			
			&:hover {border: 2px solid $color_blue;}
		}
	}
	

	.top__name {
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 1px;
	}

}


.title {
		width: 500px;
		margin: 147px auto 0;
		text-align: center;
	
	



	p {
		margin: 25px 0 48px;
		font-family: 'Roboto Light';
		font-size: $font_size_big;
		color: #fff;
	}
	
	
	a {
		background: $color_mark;
		-moz-border-radius: 25px; 
		-webkit-border-radius: 25px; 
		-khtml-border-radius: 25px;
		border-radius: 25px;
		behavior: url(border-radius.htc);
		font-size: $font_size_small;
		padding: 12px 23px;
		
		&:hover {background: $color_blue; color: #fff;}
	}


}