$wrapper_desktop:		940px;
$wrapper_tablet:		768px;
$wrapper_mobile:		320px;


$slider_arrs:			url(../../src/img/slider_arrows.png) no-repeat;
$slider_partners:		url(../../src/img/slider_parters.png) no-repeat;



$color_text:			#343434;
$color_mark:			#ff4e50;
$color_white: 			#fff;
$color_green:			#1cd7ad;
$color_orange:			#ffa507;
$color_blue: 			#4e73db;
$color_gray:			#cccccc;




$font_size_title:		52px;
$font_size_title_m:		30px;
$font_size_big:			24px;
$font_size_med:			18px;
$font_size_small:		14px;
$font_size_xxs:			10px;



$font_MonsBold:			'Montserrat Bold', sans-serif;
$font_MonsReg:			'Montserrat Regular', sans-serif;
$font_Roboto:			'Roboto Light', sans-serif;

